<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre!!</title>
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="logo de ML">

    <div>
        <h3>Lugar para poner barra de búsqueda</h3>
    </div>
    
    <div>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
    </div>
    

    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li><li></li>
        
    </ul>
    <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
        
    </ul>

    <img src="/images/img-home-banner.jpg" alt="logo de ML">

        <h2>Basado en tu útima visita</h2>
    
    <div>
        <img height= src="/images/img-cafetera-moulinex.jpg" alt="">
            <h1>$6.770</h1>
            <h2>40% off</h2>
            <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum,
            dolor sit amet.</h3>
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h1>$230.000</h1>
            <h2>20% off</h2>
            <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h1>$70.000/h1>
            <h2>15% off</h2>
            <h3>Teléfono móvil Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>
        <img src="images/img-tv-samsung-smart.jpg" alt="L">
            <h1>$34.000</h1>
            <h2>5% off</h2>
            <h3>SmartTV Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    
    
     </div>
    
    
     <div>
        <h1>Ofertas</h1>
            <img src="images/img-cafetera-moulinex.jpg" alt="">
                <h1>$6.770</h1>
                <h2>40% off</h2>
                <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum,
                dolor sit amet.</h3>
            <img src="images/img-macbook-pro-2019.jpg" alt="L">
                <h1>$230.000</h1>
                <h2>20% off</h2>
                <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <h1>$70.000/h1>
                <h2>15% off</h2>
                <h3>Teléfono móvil Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>
            <img src="images/img-tv-samsung-smart.jpg" alt="">
                <h1>$34.000</h1>
                <h2>5% off</h2>
                <h3>SmartTV Samsung 43" Lorem ipsum, dolor sit amet.</h3>

     

    <div>

    <h2>Pagá con tarjeta o en enfectivo</h2>
        <h3>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</h3>
     
    </div>

    <div>

        <h2>Seguridad de principio a fin</h2>
            <h3>No te gusta ? !devolvelo! en ML no hay nada que no puedas hacer porque estas siempre protegido.</h3>

    </div>
        
        <h5>Copyright 1999-2019 Mercadoliebre SRL</h3>
    
    </div>

</body>
</html>